@model IEnumerable<MessageRobot.Models.Message>
<table>
    <tr>
        <th>
            Day
        </th>
        <th>
            Time
        </th>

        <th>
            Message
        </th>

        <th>
            SMS
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MessageType)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
        </td>


    </tr>
}

</table>
