@model MessageRobot.Models.Message

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>

        @Html.HiddenFor(model => model.Id)


        <div class="editor-field">
  @(Html.Kendo().DropDownList()
          .Name("day")
          .DataTextField("Text")
          .DataValueField("Value")
                     .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Monday",
                  Value = "Monday"
              },
              new SelectListItem() {
                  Text = "Tuesday",
                  Value = "Tuesday"
              },
              new SelectListItem() {
                  Text = "Wednesday",
                  Value = "Wednesday"
              },
                            new SelectListItem() {
                  Text = "Thursday",
                  Value ="Thursday"
              },
              new SelectListItem() {
                  Text = "Friday",
                  Value = "Friday"
              },
              new SelectListItem() {
                  Text = "Saturday",
                  Value ="Saturday"
              },
              new SelectListItem() {
                  Text = "Sunday",
                  Value = "Sunday"
              }
          })
          .Value("1")
          )




           @(Html.Kendo().TimePicker()
        .Name("timepicker")
        .Value("10:00 AM")
)
        </div>

        @Html.HiddenFor(model => model.ContactId)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
