@model IEnumerable<MessageRobot.Models.Notice>
<table>
    <tr>
        <th>
            Day
        </th>
        <th>
            Time
        </th>

        <th>
            Text
        </th>

        <th>
            Type
        </th>

        <th>
            Time Zone
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeText)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NoticeType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TimeZone)
        </td>

        <td></td>

        <td></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
        </td>


    </tr>
}

</table>
