@model MessageRobot.Models.Notice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>

        @Html.HiddenFor(model => model.Id)


        <div class="editor-field">
  @(Html.Kendo().DropDownList()
          .Name("NoticeDay")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Monday",
                  Value = "Monday"
              },
              new SelectListItem() {
                  Text = "Tuesday",
                  Value = "Tuesday"
              },
              new SelectListItem() {
                  Text = "Wednesday",
                  Value = "Wednesday"
              },
                            new SelectListItem() {
                  Text = "Thursday",
                  Value ="Thursday"
              },
              new SelectListItem() {
                  Text = "Friday",
                  Value = "Friday"
              },
              new SelectListItem() {
                  Text = "Saturday",
                  Value ="Saturday"
              },
              new SelectListItem() {
                  Text = "Sunday",
                  Value = "Sunday"
              }
          })
          )


            @(Html.Kendo().TimePicker()
            .Name("NoticeTime")
            )
            
                          @(Html.Kendo().DropDownList()
          .Name("NoticeType")
          .DataTextField("Text")
          .DataValueField("Value")
                     .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "SMS",
                  Value = "SMS"
              }
          })
          )
            

                                      @(Html.Kendo().DropDownList()
          .Name("TimeZone")
          .DataTextField("Text")
          .DataValueField("Value")
                     .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "PST",
                  Value = "PST"
              }
          })
          )

            <div><br /></div>
             </div>
         <div class="editor-field">
            @(Html.Kendo().AutoComplete()
            .Name("NoticeText")
            .Placeholder("reminder message..")
            )
       
            </div>





        @Html.HiddenFor(model => model.ContactId)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style scoped="scoped">



	.k-autocomplete
	{
		width: 450px;
		vertical-align: middle;
	}

	
</style>